@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
  font-family: 'Depixel';
  src: url('../../assets/fonts/depixelschmal.woff2') format('woff2'),
       url('../../assets/fonts/depixelschmal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Press Start 2P', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
section {
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  text-align: center;
  height: 100dvh;
  --bg-opacity: 0.8;
}
html, body {
  overflow-y: scroll;
  height: 100%;
}

header {
  position: fixed; 
  z-index: 10; 
  padding-inline: calc(var(--spacing) * 6);
  padding-block: calc(var(--spacing) * 4);
  width: 100%; 
  --bg-opacity: 0.7;  
}

nav {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-inline: 1rem;
  padding-block: 1rem;
  color: #cbd5e1;
  transition: all 0.5s;
}

h1:hover {
  color: #f8fafc;
  transform: scale(1);
}

h2 {
  margin-bottom: 1rem; 
  font-size: 2.25rem;
  line-height: 2.5rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem; 
  text-align: center; 
  background-color: #000000; 
  --bg-opacity: 0.8; 

}

/* Class selectors */

.index-page {
  scroll-snap-type: y mandatory;
  color: rgb(255,255,255);
}
.blogc {
  font-family: 'Depixel';
}

.navlinks {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.navbutton {
  padding: 0.5rem;
  transform: translateZ(0);
  transition: all 500ms;
  color: #94a3b8;
  background: none;
  border: none;
  padding-inline: 1.5rem;
  padding-block: 1.5rem;
}

.navbutton:hover {
  transform: scale(1.1);
  color: #f8fafc;
}

.navbutton a {
  font-family: 'Press Start 2P', sans-serif;
  text-decoration: none;
  color: inherit;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem; 
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.space-y-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.othlink { 
  color: #4ade80;
}

.othlink:hover {
  text-decoration: underline;
}

/* Backgrounds for each section */
#about {
  background-image: url('../../assets/images/about_bg1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#skills {
  background-image: url('../../assets/images/skills_bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#skills ul {
  text-align: left;
  padding-left: 2rem;
  list-style-position: outside;
  list-style-type: none;
}

#skills li {
  margin-bottom: 1rem;
  text-align: left;
}

#projects {
  background-image: url('../../assets/images/projects_bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#blog {
  background-image: url('../../assets/images/blog_bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#contact {
  background-image: url('../../assets/images/contact_bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.pixel-border {
  border: 4px solid #FFFFFF;
  border-radius: 0;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  filter: blur(2px);
}